cloud_id                 = "br234526fvbqem"
folder_id                = "b1r63263fv6vki7101"
image_id                 = "fdsjnxf73735lrfad"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "dxfp9pnldbg5j"
service_account_key_file = "key.json"
token                    = "y0_wedfcgjiqOBF_sw"
app_disk_image           = "fd8fxbct0q"
db_disk_image            = "fdhsfh34r5a3l6m3"
