cloud_id                 = "brdjdsxjnmfvbqem"
folder_id                = "b1rsxdhbcbfv6vki7101"
image_id                 = "fdsjnxfvcxcvbra5lrfad"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "dxfhbgvcepp9pnldbg5j"
service_account_key_file = "key.json"
token                    = "y0_AgAAAABbrdbfxcawedfcgjiqOBF_sw"
app_disk_image           = "fd817ebsshbfxbct0q"
db_disk_image            = "fdhsfhdbxcvbdcl6m3"
